In [1]:
import statsmodels.api as sm
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# Read the CSV file
df = pd.read_csv('D:/Desktop/Profit -- Stock price.csv')

In [3]:
df.set_index('DATE', inplace=True)

In [4]:
df

             CLOSE  PROFITAFTERTAX
DATE
1/1/2007   26139.5          2076.0
1/4/2007   17240.0          1856.0
1/7/2007   14940.5          1810.0
1/10/2007  16705.9          1620.0
1/1/2008   12099.5          1756.0
...            ...             ...
1/10/2022  75600.0           313.0
1/1/2023   83500.0           128.0
1/4/2023   77500.0           257.0
1/7/2023   85600.0           179.0
1/10/2023  83000.0           240.0

[68 rows x 2 columns]

In [5]:
# Add a constant term for intercept
x = df['CLOSE']
X = sm.add_constant(x)

Y = df['PROFITAFTERTAX']

In [6]:
np.asarray(df)

array([[26139.5,  2076. ],
       [17240. ,  1856. ],
       [14940.5,  1810. ],
       [16705.9,  1620. ],
       [12099.5,  1756. ],
       [ 5029.3,  1562. ],
       [ 4228.2,  1539. ],
       [ 4701.5,  1560. ],
       [ 4838.4,  1375. ],
       [ 5317.4,  1260. ],
       [ 7435.7,  1151. ],
       [ 8359.1,  1253. ],
       [ 7643.5,  1149. ],
       [ 8735.4,  1084. ],
       [10191.4,   937. ],
       [10263.9,   972. ],
       [ 8452.6,  1160. ],
       [ 6842.6,   986. ],
       [ 7790.3,   794. ],
       [ 6839.2,   926. ],
       [ 6866.9,   890. ],
       [ 8220.9,   759. ],
       [ 8351.4,   653. ],
       [ 6360. ,  1567. ],
       [ 7347.9,   744. ],
       [ 6816.5,   670. ],
       [ 7879.3,   540. ],
       [ 8677.2,   832. ],
       [10514.9,   667. ],
       [12977.9,   629. ],
       [12242. ,   447. ],
       [12601. ,   781. ],
       [11736.2,   519. ],
       [12724.6,   591. ],
       [13700.8,   547. ],
       [14593.3,   534. ],
       [13734.9,   504. ],
       [14386.1,   557. ],
       [14257. ,   494. ],
       [15491.7,   541. ],
       [16061.5,   465. ],
       [16542.3,   584. ],
       [20213.5,   475. ],
       [21513.2,   545. ],
       [26848.8,   452. ],
       [24330.4,   529. ],
       [21552.9,   460. ],
       [21618.4,   580. ],
       [22262.6,   540. ],
       [25535. ,   553. ],
       [27948.3,   416. ],
       [34074.5,   429. ],
       [30602.3,   373. ],
       [29896.1,   505. ],
       [30606.1,   384. ],
       [36177.4,   367. ],
       [44045.1,   406. ],
       [56830.1,   315. ],
       [76617.9,   317. ],
       [79821.8,   361. ],
       [73726. ,   176. ],
       [86494.2,   273. ],
       [82540.3,   246. ],
       [75600. ,   313. ],
       [83500. ,   128. ],
       [77500. ,   257. ],
       [85600. ,   179. ],
       [83000. ,   240. ]])

In [7]:
X

           const    CLOSE
DATE
1/1/2007     1.0  26139.5
1/4/2007     1.0  17240.0
1/7/2007     1.0  14940.5
1/10/2007    1.0  16705.9
1/1/2008     1.0  12099.5
...          ...      ...
1/10/2022    1.0  75600.0
1/1/2023     1.0  83500.0
1/4/2023     1.0  77500.0
1/7/2023     1.0  85600.0
1/10/2023    1.0  83000.0

[68 rows x 2 columns]

In [8]:
Y

DATE
1/1/2007     2076.0
1/4/2007     1856.0
1/7/2007     1810.0
1/10/2007    1620.0
1/1/2008     1756.0
              ...
1/10/2022     313.0
1/1/2023      128.0
1/4/2023      257.0
1/7/2023      179.0
1/10/2023     240.0
Name: PROFITAFTERTAX, Length: 68, dtype: float64

In [9]:
# Fit the multiple regression model
model = sm.OLS(Y, X).fit()

# Print the summary of the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         PROFITAFTERTAX   R-squared:                       0.324
Model:                            OLS   Adj. R-squared:                  0.314
Method:                 Least Squares   F-statistic:                     31.66
Date:                Thu, 16 Nov 2023   Prob (F-statistic):           4.04e-07
Time:                        23:11:46   Log-Likelihood:                -501.16
No. Observations:                  68   AIC:                             1006.
Df Residuals:                      66   BIC:                             1011.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1023.3090     67.491     15.162      0.000     888.558    1158.060
CLOSE         -0.0107      0.002     -5.627      0.000      -0.014      -0.007
==============================================================================
Omnibus:                       22.087   Durbin-Watson:                   0.261
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               29.432
Skew:                           1.406   Prob(JB):                     4.06e-07
Kurtosis:                       4.576   Cond. No.                     5.07e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.07e+04. This might indicate that there are
strong multicollinearity or other numerical problems.